<!DOCTYPE html>
<html>
<head>
<title>Welcome to nginx!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Welcome to nginx!</h1>
<p>nginx web server is {{ansible_host}} name is {{env_host}}</p>
<p><em>Thank you for using nginx.</em></p>
</body>
</html>
